<article class="hentry clearfix {{post_class}}" role="article">

    <header class="article-header">

        <h1 class="h2">
            <a href="/{{slug}}" rel="bookmark" title="{{title}}">{{title}}</a>
        </h1>

        <p class="byline vcard">
            Posted
            <time class="updated"
                  datetime="{{date published_at format='YYYY-MM-DD'}}"
                  pubdate="">
                {{date published_at format='YYYY-MM-DD'}}
            </time>

            by
            <span class="author">
                <a href="http://localhost/wpbones/?author=1"
                   title="Posts by admin"
                   rel="author">
                    {{author}}
                </a>
            </span>

            {{#if tags}}
                <span class="amp">&amp;</span>
                filed under
                {{#each tags}}
                    <a href="/tags/{{this.name}}"
                       class="tag-label"
                       title="View all posts in {{this.name}}"
                       rel="category">{{this.name}}</a>
                {{/each}}

            {{/if}}
        </p>

        {{#if image}}
            <figure class="featured-image">
                <img src="/content/images/{{image}}" class="attachment-post-thumbnail" alt="">
            </figure>
        {{/if}}
    </header> <!-- end article header -->

    <section class="entry-content clearfix">
        {{content}}
    </section> <!-- end article section -->

    <footer class="article-footer">
        {{#if tags}}
            <p class="tags">
                <span class="tags-title">
                    Tags:
                    {{#each tags}}
                        <a href="/tags/{{this.name}}"
                           class="tag-label"
                           title="View all posts in {{this.name}}"
                           rel="category">{{this.name}}</a>
                    {{/each}}
                </span>
            </p>
        {{/if}}
    </footer> <!-- end article footer -->

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'themespectre'; // required: replace example with your forum shortname
        var disqus_url = 'http://blog.themespectre.com/testpost';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</article>