{{! Sidebar items go in here }}

{{! A "Widget" is not an official Ghost concept.
    It's just a class name used in linen to separate items in the sidebar }}

<section class="widget">

    {{! If a the page is rendering a single post, show the author info.
         Otherwise show the blog description. }}
    {{#if post}}
        {{#post}}
        <header class="h4 widgettitle">{{author.name}}</header>
        <section id="author-info">
            <p><img src="{{author.image}}" title="author pic"/></p>

            <p>{{author.bio}}</p>

            <p>{{author.location}}</p>
        </section>
        {{/post}}
    {{else}}
        <header class="h4 widgettitle">{{@blog.title}}</header>
        <section id="blog-info">
            {{@blog.description}}
        </section>
    {{/if}}
</section> <!-- end .widget -->

{{! This is just an example of how to use the Mono Social Icon Font
    You'll probably want to change most of this. }}
<section class="widget">
    <header class="h4 widgettitle">Social Links</header>
    <section id="author-info">
        <ul>
            {{! Get unicode values from http://drinchev.github.io/monosocialiconsfont/ }}
            <li><a href='#' class='symbol' title='&#xe086;'></a>Tweet Me!</li>
            <li><a href='#' class='symbol' title='&#xe027;'></a>Find Me on Facebook</li>
            <li><a href='#' class='symbol' title='&#xe039;'></a>What's Google Plus?</li>
        </ul>
    </section>
</section> <!-- end .widget -->
